<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
  
  <connectionStrings>
    <add name="conn" connectionString="Server=793bc5ed-1a52-4741-b0b3-a51100a11b2a.sqlserver.sequelizer.com;Database=db793bc5ed1a524741b0b3a51100a11b2a;User ID=fcimceeengiokygq;Password=jQU3ReG2Krz77ZxhErnunqAJtXMS4UvdyhYUgdscErboAbaEGCXBK2p2okH2zX6Y;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  </configuration>
